<!-- footer -->
<footer class="black-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-3">
          <div class="widget"> <img src="/images/Theta-Tau-Logo.png" alt="" data-src="/images/Theta-Tau-Logo.png" data-ret="/images/Theta-Tau-Logo.png" class="retina" />
            <div class="divide20"></div>
            <p>Insert Description Here</p>
          </div>
          <!-- /.widget -->
          
          <div class="widget">
            <h4 class="widget-title">Newsletter</h4>
            <div class="newsletter-wrapper">
              <div id="mc_embed_signup">
                <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_ddc180777a163e0f9f66ee014_056957de28" value="">
                  </div>
                  <div class="clear">
                    <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
                </form>
              </div>
            </div>
            <!-- /.newsletter-wrapper --> 
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /col -->
        
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Popular Posts</h4>
            <ul class="post-list">
              <li>
                <h6><a href="blog-post.html">Vivamus sagittis lacus vel augue metus</a></h6>
                <em>3th Oct 2012</em> </li>
              <li>
                <h6><a href="blog-post.html">Scelerisque nisl consectetur et</a></h6>
                <em>28th Sep 2012</em> </li>
              <li>
                <h6><a href="blog-post.html">Pellentesque ornare sem lacinia quam</a></h6>
                <em>15th Aug 2012</em> </li>
            </ul>
            <!-- /.post-list --> 
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /col -->
        
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Get In Touch</h4>
            <p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed posuere consectetur est at lobortis.</p>
            <div class="divide10"></div>
            <div class="contact-info"> <i class="icon-location"></i> Moonshine St. 14/05 Light City <br />
              <i class="icon-phone"></i>+00 (123) 456 78 90 <br />
              <i class="icon-mobile"></i>+00 (555) 345 67 89 <br />
              <i class="icon-mail"></i> <a href="first.last@email.com">first.last@email.com</a> </div>
          </div>
        </div>
        <!-- /col -->
        
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Tags</h4>
            <div class="tagcloud"> <a href="#" style="font-size: 9pt;">blogroll</a> <a href="#" style="font-size: 19pt;">daily</a> <a href="#" style="font-size: 9pt;">dialog</a> <a href="#" style="font-size: 9pt;">gallery</a> <a href="#" style="font-size: 10pt;">journal</a> <a href="#" style="font-size: 9pt;">link</a> <a href="#" style="font-size: 12pt;">motion</a> <a href="#" style="font-size: 9pt;">music</a> <a href="#" style="font-size: 20pt;">photo</a> <a href="#" style="font-size: 13pt;">professional</a> <a href="#" style="font-size: 16pt;">quotation</a> <a href="#" style="font-size: 9pt;">show</a> <a href="#" style="font-size: 15pt;">sound</a> <a href="#" style="font-size: 9pt;">tv</a> <a href="#" style="font-size: 9pt;">video</a> <a href="#" style="font-size: 9pt;">gift</a> </div>
          </div>
          <!-- /.widget -->
          
          <div class="widget">
            <h4 class="widget-title">Categories</h4>
            <ul class="circled">
              <li><a href="#">Web Design (21)</a></li>
              <li><a href="#">Photography (19)</a></li>
              <li><a href="#">Graphic Design (16)</a></li>
              <li><a href="#">Manipulation (15)</a></li>
            </ul>
          </div>
          <!-- /.widget --> 
          
        </div>
        <!-- /col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- .container -->
    
    <div class="subfooter">
      <div class="container">
        <p class="pull-left">© 2018 Theta Tau – Omega Beta Chapter. All rights reserved.</p>
        <ul class="social pull-right">
          <li><a href="#"><i class="icon-s-rss"></i></a></li>
          <li><a href="#"><i class="icon-s-twitter"></i></a></li>
          <li><a href="#"><i class="icon-s-facebook"></i></a></li>
          <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
          <li><a href="#"><i class="icon-s-instagram"></i></a></li>
          <li><a href="#"><i class="icon-s-vimeo"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- /footer --> 