<!-- navbar.ejs -->
<!-- contains the navbar code to be replicated across pages -->
<!--/.navbar-->
<div class="navbar basic default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a> <a class="navbar-brand" href="index.html"><img src="/images/Theta-Tau-Logo.png" alt="" data-src="/images/Theta-Tau-Logo.png" data-ret="/images/Theta-Tau-Logo.png" class="retina"/></a> </div>
        <nav class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="brothers.html">Brothers</a></li>
            <li><a href="alumni.html">Alumni</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Blog</a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Grid Blog</a></li>
                <li><a href="blog2.html">Grid Blog with Sidebar</a></li>
                <li><a href="blog3.html">Classic Blog</a></li>
                <li><a href="blog-post.html">Blog Post</a></li>
              </ul>
            </li>
            <li><a href="events.html">Events</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!--/.navbar -->