<!-- navbar.ejs -->
<!-- contains the navbar code to be replicated across pages -->
<!--/.navbar-->
<!-- <div id="nav" class="navbar basic default"> -->
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a id="responsiveNavBtn" class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a> <a class="navbar-brand" href="/"><img src="./public/images/Theta-Tau-Logo.png" alt="" data-src="./public/images/Theta-Tau-Logo.png" data-ret="./public/images/Theta-Tau-Logo@2x.png" class="retina"/></a> </div>
        <nav class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav ">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/alumni">Alumni</a></li> -->
            <li class="dropdown"><a href="active"  class="disabled dropdown-toggle js-activated">Brothers</a>
              <ul class="dropdown-menu">
                <li><a href="/active">Active</a></li>
                <!-- <li><a href="/alumni">Alumni</a></li> -->
              </ul>
            </li>
            <li><a href="events">Events</a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="https://cmt.thetatau.org/accounts/login/?next=/">Member Login</a></li>
          </ul>
        </nav>
        <!--/.nav-collapse -->
      </div>
    </div>
<!--   </div> -->
  <!--/.navbar -->
