<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="/images/Tilted Gear Red_Yellow.png">
    <link rel="shortcut icon" href="/images/Tilted Gear Red_Yellow.png">
    <title>Theta Tau Hofstra - About</title>

    <!-- Bootstrap core CSS -->
    <!-- <%- CDN('/css/bootstrap.css', 'css', '', ''); 
    <%- CDN('/css/settings.css', 'css', '', ''); 
    <%- CDN('/css/owl.carousel.css', 'css', '', ''); 
    <%- CDN('/css/custom.css', 'css', '', ''); 
    <%- CDN('/css/style.css', 'css', '', ''); 
    <%- CDN('/css/maroon.css', 'css', '', '');  -->
    <!-- <%- CDN('/type/fontello.css', 'css', '', '');  -->
    <!-- <%- CDN('/type/budicons.css', 'css', '', '');  -->
    <!-- <%- CDN('/js/google-code-prettify/prettify.css', 'css', '', ''); 
    <%- CDN('/js/fancybox/jquery.fancybox.css', 'css', '', ''); 
    <%- CDN('/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2', 'css', '', '');  -->
    <!-- <%- CDN('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic', 'css', '', ''); 
    <%- CDN('https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', 'css', '', '');  -->


    <link href="./public/css/bootstrap.css" rel="stylesheet">
    <link href="./public/css/settings.css" rel="stylesheet">
    <link href="./public/css/owl.carousel.css" rel="stylesheet">
    <link href="./public/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="./public/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./public/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
    <link href="./public/css/custom.css" rel="stylesheet">
    <link href="./public/css/style.css" rel="stylesheet">
    <link href="./public/css/maroon.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="./public/type/fontello.css" rel="stylesheet">
    <link href="./public/type/budicons.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(function(){
      $("#navbar").load("./partials/navbar.html"); 
    });

    $(function(){
      $("#footer").load("./partials/footer.html"); 
    });
    </script>

</head>

<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  
  <div id="navbar"></div>

  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">About Us</h3>
      <div class="lead text-center">A Professional Engineering Fraternity Dedicated To Strengthening Individuals.</div>
      <div class="row">

        <div class="col-sm-4">
          <figure>
              <!-- <%= CDN('/images/OTFall2018.jpg', 'img', '', '');  -->
            <img src="/images/OTFall2018.jpg" alt="" />
          </figure>
        </div>

        <div class="col-sm-8 about-info">
          <h4>Our Chapter</h4>
          <p>Founded on April 30, 1994, the Omega Beta Chapter of Theta Tau at Hofstra University has devoted itself to strengthening its members through brotherhood.</p>
          <p>Theta Tau is the oldest and largest engineering fraternity in the country. It is open to all engineering and computer science related majors. We strive to develop each brother professionally to become engineering leaders. Our foundation is based upon our 3 pillars: <b>Service. Profession. Brotherhood.</b>   </p>
          <p>Within our chapter, the fraternity engages in professional activity through on and off-campus group participation, community, engineering, and fraternity affairs. This also promotes long lasting friendships - a lifetime of <b>brotherhood</b> in an engineering environment!</p>
          <p>Whether you're a visitor, parent, student, or alumnus, we hope you will take time to explore our website. Please contact us if we can be of assistance to you!</p>
        </div>

      </div>
      
      <div class="divide50"></div>
      <div class="row">
        <h4 style="text-align: center;">Membership Perks</h4>
        <div class="col-sm-4">
          <div class="divide20"></div>
          <div class="services-2">
              <div class="icon"> 
                <!-- <%= CDN('/images/icons/icon-web.png', 'img', 'retina', '');  -->
                <img src="/images/icons/icon-web.png" data-src="/images/icons/icon-web.png" data-ret="/images/icons/icon-web@2x.png" class="retina" alt="" /> 
              </div>
              <!-- /.icon -->
                <div class="text">
                  <h5>A network of connections to active alumni.</h5>
                  <p>Through our alumni relations, we give members access to a broader network that may be relative to their field of study.</p>
                </div>
              <!-- /.text -->
          </div>
          <!-- /.services-2 -->
        </div>
        <div class="col-sm-4">
            <div class="divide20"></div>
            <div class="services-2">
            <div class="icon"> 
              <img src="/images/icons/icon-print.png" data-src="/images/icons/icon-print.png" data-ret="/images/icons/icon-print@2x.png" class="retina" alt="" /> 
              <!-- <%= CDN('/images/icons/icon-print.png', 'img', 'retina', '');  -->
            </div>
            <!-- /.icon -->
              <div class="text">
                <h5>Resume review by the active brothers.</h5>
                <div class="divide12"></div>
                <p>In our New Member Process, we help individuals work on their resume so it is in top notch, ready for internships or post graduation!</p>
              </div>
            <!-- /.text -->
          </div>
          <!-- /.services-2 -->
        </div>
        <div class="col-sm-4">
          <div class="divide20"></div>
            <div class="services-2">
              <div class="icon"> 
                <img src="/images/icons/icon-cloud.png" data-src="/images/icons/icon-cloud.png" data-ret="/images/icons/icon-cloud@2x.png" class="retina" alt="" />
                <!-- <%= CDN('/images/icons/icon-cloud.png', 'img', 'retina', '');  -->
              </div>
              <!-- /.icon -->
                <div class="text">
                  <h5>Access to like-minded individuals within area of study.</h5>
                  <p>Since all our members are either engineers or computer scientists, individuals get to know other like minded students within their major.</p>
                </div>
                <!-- /.text -->
            </div>
          <!-- /.services-2 -->
        </div>
      <!-- /.col --> 
      </div>
      <div class="divide20"></div>
      <div class="row">
        <div class="col-sm-4">
          <div class="divide10"></div>
          <div class="services-2">
              <div class="icon"> 
                  <!-- <%= CDN('/images/icons/icon-worldmap.png', 'img', 'retina', '');  -->
                <img src="/images/icons/icon-worldmap.png" data-src="/images/icons/icon-worldmap.png" data-ret="/images/icons/icon-worldmap@2x.png" class="retina" alt="" /> 
              </div>
                <!-- /.icon -->
                <div class="text">
                  <h5>Community service oppportunities on and off campus.</h5>
                  <p>Within Greek life, many opportunities arise for community service, which in turn helps the individual grow.</p>
                </div>
                <!-- /.text -->
          </div>
          <!-- /.services-2 -->
        </div>
        <div class="col-sm-4">
            <div class="divide10"></div>
            <div class="services-2">
                <div class="icon"> 
                    <!-- <%= CDN('/images/icons/icon-browser.png', 'img', 'retina', '');  -->
                  <img src="/images/icons/icon-browser.png"  data-src="/images/icons/icon-browser.png"  data-ret="/images/icons/icon-browser@2x.png" class="retina" alt="" /> 
                </div>
                <!-- /.icon -->
                <div class="text">
                  <h5>Get comfortable with networking skills.</h5>
                  <p>In our New Member Process, we help individuals develop their networking skills by having them create an elevator pitch and have them practice .</p>
                </div>
                <!-- /.text -->
          </div>
          <!-- /.services-2 -->
        </div>
        <div class="col-sm-4">
          <div class="divide10"></div>
            <div class="services-2">
                <div class="icon"> 
                    <!-- <%= CDN('/images/icons/icon-heart.png', 'img', 'retina', '');  -->
                  <img src="/images/icons/icon-heart.png"  data-src="/images/icons/icon-heart.png"  data-ret="/images/icons/icon-heart@2x.png"  class="retina" alt="" /> 
                </div>
                <!-- /.icon -->
                <div class="text">
                  <h5>Friendships that'll last you a lifetime.</h5>
                  <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
                </div>
                <!-- /.text -->
            </div>
          <!-- /.services-2 -->
        </div>
      <!-- /.col --> 
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->


  <div class="parallax parallax1 customers">
    <div class="container inner text-center">
        <!-- <div class="divide50"></div> -->
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 about-info">
            <h1>Why Choose Us?</h1>
            <p>Through our new member process, we not only teach the individuals about the history of the fraternity, but we teach them about themselves and how they can grow as a person. With the proper guidance, an individual can rise to be the best version of themselves as a professional. </p>
            <!--<ol class="color">
              <li>A network of connections to active alumni.</li>
              <li>Resume review.</li>
              <li>Access to like-minded individuals within area of study.</li>
              <li>Community service oppportunities.</li>
              <li>Get comfortable with networking skills.</li>
              <li>Friendships that'll last you a lifetime.</li>
            </ol>-->
          </div>
          <!-- /.col -->
          <div class="col-sm-3"></div>
        </div>
        <!-- /.row -->  
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  
   <!-- E-board -->
 <div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3 class="section-title">Our Executive Board</h3>
          <div class="lead bm25">Meet the team that runs our chapter!</div>
          <p>From left to right, we have our Regent, Vice Regent, Treasurer, Scribe, Corresponding Secretary, and New Member Educator.</p>
           </div>
        <!-- /.col -->
        <div class="col-md-9 col-sm-12">
          <div class="owl-posts team">
            <div class="item post">
              <figure><img src="./public/images/portraits/Joanne Peragine Cropped.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Joanne Peragine</h3>
                <div class="biz-title">Regent</div>
                <p>The regent oversees all activities and meetings and represents the fraternity at Greek life events. </p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="./public/images/portraits/Nikos Stathopoulos2 cropped.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Nikos Stathopoulos</h3>
                <div class="biz-title">Vice Regent</div>
                <p>The vice regent assists the president and helps coordinate activities and assist brothers.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img style="margin: 0 0 -33% 0;"src="./public/images/portraits/Renato Rodrigues.jpeg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Renato Rodrigues</h3>
                <div class="biz-title">Treasurer</div>
                <p>The treasurer collects member dues, keeps financial records and oversees spending budgets.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="./public/images/portraits/Mirla Sales.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Mirla Sales</h3>
                <div class="biz-title">Scribe</div>
                <p>The scribe is responsible for keeping chapter records, including minutes of meetings and records of all members.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="./public/images/art/team5.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Yulisa Frias</h3>
                <div class="biz-title">Corresponding Secretary</div>
                <p>The Corresponding Secretary will stay in contact with other chapters and will oversee all alumni relations.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item --> 
            <div class="item post">
                <figure><img src="./public/images/portraits/Stephan Duroseau Photoshopped.jpg" alt="" /></figure>
                <div class="post-content">
                  <h3 class="post-title">Stephan Duroseau</h3>
                  <div class="biz-title">New Member Educator</div>
                  <p>The New Member Educator will supply the necessary induction and education to candidates that are fit.</p>
                  <ul class="social">
                    <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item --> 
          </div>
          <!-- /.team --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  <!-- E-board -->
  
  <footer id=footer></footer>
  
</div>
<!-- /.body-wrapper --> 

<!-- <% include ../partials/scripts %> -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="./public/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script src="./public/js/jquery.themepunch.plugins.min.js"></script> 
<script src="./public/js/jquery.themepunch.revolution.min.js"></script> 
<script src="./public/js/jquery.themepunch.tools.min.js"></script> 
<script src="./public/dist/bundle.js"></script>

</body>
</html>
