<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="./public/images/Tilted Gear Red_Yellow.png">
    <link rel="shortcut icon" href="./public/images/Tilted Gear Red_Yellow.png">
    <title>Theta Tau Hofstra</title>
  
    <!-- Bootstrap core CSS -->
    <!-- <%- CDN('/css/bootstrap.css', 'css', '', ''); %>
    <%- CDN('/css/settings.css', 'css', '', ''); %>
    <%- CDN('/css/owl.carousel.css', 'css', '', ''); %>
    <%- CDN('/css/custom.css', 'css', '', ''); %>
    <%- CDN('/css/style.css', 'css', '', ''); %>
    <%- CDN('/css/maroon.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/type/fontello.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/type/budicons.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/js/google-code-prettify/prettify.css', 'css', '', ''); %>
    <%- CDN('/js/fancybox/jquery.fancybox.css', 'css', '', ''); %>
    <%- CDN('/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2', 'css', '', ''); %> -->
    <!-- <%- CDN('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic', 'css', '', ''); %>
    <%- CDN('https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', 'css', '', ''); %> -->
  
  
    <link href="./public/css/bootstrap.css" rel="stylesheet">
    <link href="./public/css/settings.css" rel="stylesheet">
    <link href="./public/css/owl.carousel.css" rel="stylesheet">
    <link href="./public/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="./public/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./public/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
    <link href="./public/css/custom.css" rel="stylesheet">
    <link href="./public/css/style.css" rel="stylesheet">
    <link href="./public/css/maroon.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="./public/type/fontello.css" rel="stylesheet">
    <link href="./public/type/budicons.css" rel="stylesheet">
    
  </head>

<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  
  <div id="navbar"></div>

  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      
      <div class="row members">
          <h3 class="section-title text-center">Active Members</h3>
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name"></br>Salvatore Alcaras</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Emely Alvarez.jpg" alt="Avatar">
            <h4 class="active-name"></br>Emely Alvarez</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Victor Barahona.jpg" alt="Avatar">
            <h4 class="active-name"></br>Victor Barahona</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Joseph Beganskas.jpg" alt="Avatar">
            <h4 class="active-name"></br>Joseph Beganskas</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Rico Biggart.jpg" alt="Avatar">
            <h4 class="active-name"></br>Rico Biggart</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Alyssa Brower.jpg" alt="Avatar">
            <h4 class="active-name"></br>Alyssa Brower</h4>
          </div>
      </div>
        
      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Francesca Cardenas.jpg" alt="Avatar">
            <h4 class="active-name"></br>Francesca Cardenas</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Catherine Cusak.jpeg" alt="Avatar">
            <h4 class="active-name"></br>Catherine Cusack</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Jed Donikyan.jpg" alt="Avatar">
            <h4 class="active-name"></br>Jed Donikyan</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Stephan Duroseau Photoshopped2.png"" alt="Avatar">
            <h4 class="active-name"></br>Stephan Duroseau</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Yulisa Frias3.jpg" alt="Avatar">
            <h4 class="active-name"></br>Yulisa Frias</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img style="object-position: 30% 30%;" class="active-profile" src="./public/images/portraits/Aishu Ghandi.jpg" alt="Avatar">
            <h4 class="active-name"></br>Aishu Gandhi</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Santos Garcia.jpg" alt="Avatar">
            <h4 class="active-name"></br>Santos Garcia</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Eduardo Guzman.jpg" alt="Avatar">
            <h4 class="active-name"></br>Eduardo Guzman</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name"></br>Jennifer Haidar</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Tyrone Harmon.jpg" alt="Avatar">
            <h4 class="active-name"></br>Tyrone Harmon</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Lisa Hayford.jpg" alt="Avatar">
            <h4 class="active-name"></br>Lisa Hayford</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Jacob Hochendoner.jpg" alt="Avatar">
            <h4 class="active-name"></br>Jacob Hochendoner</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name"></br>Olivette Kaikai</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Dawson Kopp.jpg" alt="Avatar">
            <h4 class="active-name"></br>Dawson Kopp</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Nick Lawson.jpg" alt="Avatar">
            <h4 class="active-name"></br>Nick Lawson</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/William Lin.jpg" alt="Avatar">
            <h4 class="active-name"></br>William Lin</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Marisa Lombardo.jpg" alt="Avatar">
            <h4 class="active-name"></br>Marisa Lombardo</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Alex Lopez.jpg" alt="Avatar">
            <h4 class="active-name"></br>Alex Lopez</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Maria Lopez.jpeg" alt="Avatar">
            <h4 class="active-name"></br>Maria Lopez</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/David Mastalerz.jpg" alt="Avatar">
            <h4 class="active-name"></br>David Mastalerz</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Max Mogel.jpg" alt="Avatar">
            <h4 class="active-name"></br>Max Mogel</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Joanne Peragine2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Joanne Peragine</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Meghan Richards2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Megan Richards</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Renato Rodrigues.jpeg" alt="Avatar">
            <h4 class="active-name"></br>Renato Rodrigues</h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Rikki Rooklin2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Rikki Rooklin</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Mirla Sales.jpg" alt="Avatar">
            <h4 class="active-name"></br>Mirla Sales</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Nikos Stathopoulos.jpg" alt="Avatar">
            <h4 class="active-name"></br>Nikos Stathopoulos</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Cassandra Strange.jpg" alt="Avatar">
            <h4 class="active-name"></br>Cassandra Strange</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Scott Stubbs.jpg" alt="Avatar">
            <h4 class="active-name"></br>Scott Stubbs</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Reenu Thomas.jpg" alt="Avatar">
            <h4 class="active-name"></br>Reenu Thomas</h4>
          </div>
      </div>
     
      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Bridget Weston.jpg" alt="Avatar">
            <h4 class="active-name"></br>Bridget Weston</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Tony Williams.jpg" alt="Avatar">
            <h4 class="active-name"></br>Tony Williams</h4>
          </div>
                                 
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Luka Ariola2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Luke Ariola</h4>
          </div>
                                
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Youssef Elmougy.jpg" alt="Avatar">
            <h4 class="active-name"></br>Youssef Elmougy</h4>
            <h6 class="active-major"></br>Computer Science</h6>
          </div>
                                   
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Noah Green.jpg" alt="Avatar">
            <h4 class="active-name"></br>Noah Green</h4>
          </div>
                                   
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Will King.jpg" alt="Avatar">
            <h4 class="active-name"></br>Will King</h4>
          </div>
      </div>
                                   
      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Alyssa Pancho.JPG" alt="Avatar">
            <h4 class="active-name"></br>Alyssa Pancho</h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Elya Segall.jpg" alt="Avatar">
            <h4 class="active-name"></br>Elya Segall</h4>
          </div>
                                 
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Angelique Vega.jpg" alt="Avatar">
            <h4 class="active-name"></br>Angelique Vega</h4>
          </div>
                                
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Stefan Wharwood.jpg" alt="Avatar">
            <h4 class="active-name"></br>Setfan Wharwood</h4>
          </div>
                                   
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Esther Zhang.jpg" alt="Avatar">
            <h4 class="active-name"></br>Esther Zhang</h4>
          </div>
      </div>
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  
  <footer id=footer></footer>
  
</div>
<!-- /.body-wrapper --> 

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
    $(function(){
      $("#navbar").load("./partials/navbar.html"); 
    });
  
    // $(function(){
    //   $("#eboard").load("./partials/eboard.html"); 
    // });
  
    $(function(){
      $("#footer").load("./partials/footer.html"); 
    });
  </script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="./public/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script src="./public/js/jquery.themepunch.plugins.min.js"></script> 
<script src="./public/js/jquery.themepunch.revolution.min.js"></script> 
<script src="./public/js/jquery.themepunch.tools.min.js"></script> 
<script src="./public/dist/bundle.js"></script>

</body>
</html>
