<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="./public/images/Tilted Gear Red_Yellow.png">
    <link rel="shortcut icon" href="./public/images/Tilted Gear Red_Yellow.png">
    <title>Theta Tau Hofstra</title>
  
    <!-- Bootstrap core CSS -->
    <!-- <%- CDN('/css/bootstrap.css', 'css', '', ''); %>
    <%- CDN('/css/settings.css', 'css', '', ''); %>
    <%- CDN('/css/owl.carousel.css', 'css', '', ''); %>
    <%- CDN('/css/custom.css', 'css', '', ''); %>
    <%- CDN('/css/style.css', 'css', '', ''); %>
    <%- CDN('/css/maroon.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/type/fontello.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/type/budicons.css', 'css', '', ''); %> -->
    <!-- <%- CDN('/js/google-code-prettify/prettify.css', 'css', '', ''); %>
    <%- CDN('/js/fancybox/jquery.fancybox.css', 'css', '', ''); %>
    <%- CDN('/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2', 'css', '', ''); %> -->
    <!-- <%- CDN('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic', 'css', '', ''); %>
    <%- CDN('https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', 'css', '', ''); %> -->
  
  
    <link href="./public/css/bootstrap.css" rel="stylesheet">
    <link href="./public/css/settings.css" rel="stylesheet">
    <link href="./public/css/owl.carousel.css" rel="stylesheet">
    <link href="./public/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="./public/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./public/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
    <link href="./public/css/custom.css" rel="stylesheet">
    <link href="./public/css/style.css" rel="stylesheet">
    <link href="./public/css/maroon.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href="./public/type/fontello.css" rel="stylesheet">
    <link href="./public/type/budicons.css" rel="stylesheet">
    
  </head>

<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  
  <div id="navbar"></div>

  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      
      <div class="row members">
          <h1 style="font-size:40px;" class="section-title text-center">Executive Board</h1>
          <br></br>
          <!-- <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Renato Rodrigues Professional.jpg" alt="Avatar">
            <h4 class="active-name"></br>Renato Rodrigues<a href="https://www.linkedin.com/in/renato-i-rodrigues/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h5 class="active-major"></br>Regent</h5>
          </div>
  
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Noah Green.jpg" alt="Avatar">
            <h4 class="active-name"></br>Noah Green <a href="https://www.linkedin.com/in/noah-g-310137101/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h5 class="active-major"></br>Vice Regent</h5>
          </div>
  
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Will King.jpg" alt="Avatar">
            <h4 class="active-name"></br>William King<a href="https://www.linkedin.com/in/william-king-135862197" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h5 class="active-major"></br>Treasurer</h5>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/jessica-selle.jpg" alt="Avatar">
            <h4 class="active-name"></br>Jessica Selle<a href="https://www.linkedin.com/in/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h5 class="active-major"></br>Scribe</h5>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Angelique Vega3.jpg" alt="Avatar">
            <h4 class="active-name"></br>Angelique Vega <a href="https://www.linkedin.com/in/angelique-vega-914834197/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h5 class="active-major"></br>Corresponding Secretary</h5>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/.jpg" alt="Avatar">
            <h4 class="active-name"></br>Andrew Giovinazzo<a href="https://www.linkedin.com/in/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h5 class="active-major"></br>New Member Educator</h5>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Alyssa Pancho.JPG" alt="Avatar">
            <h4 class="active-name"></br>Alyssa Pancho <a href="https://www.linkedin.com/in/alyssa-pancho/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Marshal</h6>
          </div> -->

          <div class="col-md-3 col-sm-12">
            <h3 class="section-title">Our Executive Board</h3>
            <div class="lead bm25">Meet the team that runs our chapter!</div>
            <p>From left to right, we have our Regent, Vice Regent, Treasurer, Scribe, Corresponding Secretary, New Member Educator, and Marshal.</p>
             </div>
          <!-- /.col -->
          <div class="col-md-9 col-sm-12">
            <div class="owl-posts team">
              <div class="item post">
                <figure><img style="margin:-12% 0 -19.25% 0;" src="./public/images/portraits/Renato Rodrigues Professional.jpg" alt="" /></figure>
                <div class="post-content">
                  <h3 class="post-title">Renato Rodrigues</h3>
                  <div class="biz-title">Regent</div>
                  <p>The regent oversees all activities and meetings and represents the fraternity at Greek life events. </p>
                  <ul class="social">
                      <!-- <li><a href="#"><i class="icon-s-facebook"></i></a></li> -->
                      <!-- <li><a href="#"><i class="icon-s-linkedin"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/renato-i-rodrigues/" target=”_blank”><i class="icon-s-linkedin"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item -->
              <div class="item post">
                <figure><img style="margin: 0 0 -33% 0;" src="./public/images/portraits/Noah Green.jpg" alt=""></figure>
                <div class="post-content">
                  <h3 class="post-title">Noah Green</h3>
                  <div class="biz-title">Vice Regent</div>
                  <p>The vice regent assists the president and helps coordinate activities and assist brothers.</p>
                  <ul class="social">
                      <!-- <li><a href="#"><i class="icon-s-facebook"></i></a></li> -->
                      <!-- <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
                      <li><a href="https://www.linkedin.com/in/noah-g-310137101/" target=”_blank”><i class="icon-s-linkedin"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item -->
              <div class="item post">
                <figure><img style="margin: -12% 0 -52.5% 0;"src="./public/images/portraits/Will King.jpg" alt="" /></figure>
                <div class="post-content">
                  <h3 class="post-title">William King</h3>
                  <div class="biz-title">Treasurer</div>
                  <p>The treasurer collects member dues, keeps financial records and oversees spending budgets.</p>
                  <ul class="social">
                      <!-- <li><a href="#"><i class="icon-s-facebook"></i></a></li> -->
                      <!-- <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/william-king-135862197/" target=”_blank”><i class="icon-s-linkedin"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item -->
              <div class="item post">
                <figure><img style="margin:-15% 0 -51.25% 0;" src="./public/images/portraits/" alt="" /></figure>
                <div class="post-content">
                  <h3 class="post-title">Jessica Selle</h3>
                  <div class="biz-title">Scribe</div>
                  <p>The scribe is responsible for keeping chapter records, including minutes of meetings and records of all members.</p>
                  <ul class="social">
                      <!-- <li><a href="#"><i class="icon-s-facebook"></i></a></li> -->
                      <!-- <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/" target=”_blank”><i class="icon-s-linkedin"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item -->
              <div class="item post">
                <figure><img style="margin: -10% 0 -20% 0;" src="./public/images/portraits/Angelique Vega.jpg" alt="" /></figure>
                <div class="post-content">
                  <h3 class="post-title">Angelique Vega</h3>
                  <div class="biz-title">Corresponding Secretary</div>
                  <p>The Corresponding Secretary keeps contact with other chapters and has oversight over all alumni relations.</p>
                  <ul class="social">
                      <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/angelique-vega-914834197/" target=”_blank”><i class="icon-s-linkedin"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item --> 
              <div class="item post">
                <figure><img style="margin: 0 0 -31.7% 0;" src="./public/images/portraits/Andrew Giovinazzo.jpg" alt="" /></figure>
                <div class="post-content">
                  <h3 class="post-title">Andrew Giovinazzo</h3>
                  <div class="biz-title">New Member Educator</div>
                  <p>The New Member Educator supplies the necessary induction and education to candidates that are fit.</p>
                  <ul class="social">
                      <!-- <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/andrew-giovinazzo-84aa051b9" target=”_blank”><i class="icon-s-linkedin"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item -->
              <div class="item post">
                <figure><img style="margin: 0 0;" src="./public/images/portraits/alyssa blurry pic.png" alt="" /></figure>
                <div class="post-content">
                  <h3 class="post-title">Alyssa Pancho</h3>
                  <div class="biz-title">Marshal</div>
                  <p>The Marshal manages and enforces the national constitution and the chapter's bylaws.</p>
                  <ul class="social">
                      <!-- <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                      <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
                        <li><a href="https://www.linkedin.com/in/alyssa-pancho" target=”_blank”><i class="icon-s-linkedin"></i></a></li>
                  </ul>
                </div>
                <!-- /.post-content --> 
              </div>
              <!-- /.item --> 
            </div>
            <!-- /.team --> 
          </div>
          <!-- /.col --> 

      </div>
      
      <div class="row members">
          <h1 style="font-size:40px;" class="section-title text-center">Active Members</h1>
          <br></br>
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Luka Ariola2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Luke Ariola <a href="https://www.linkedin.com/in/luke-ariola-36bbb5197/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '22</h6>
          </div>
          
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Joseph Beganskas.jpg" alt="Avatar">
            <h4 class="active-name"></br>Joseph Beganskas<a href="https://www.linkedin.com/in/joseph-beganskas-990157182/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Bioelectrical Engineering '20</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Rico Biggart.jpg" alt="Avatar">
            <h4 class="active-name"></br>Rico Biggart <a href="https://www.linkedin.com/in/rico-biggart/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Electrical Engineering '20</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Alyssa Brower.jpg" alt="Avatar">
            <h4 class="active-name"></br>Alyssa Brower <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Political Science '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Francesca Cardenas.jpg" alt="Avatar">
            <h4 class="active-name"></br>Francesca Cardenas <a href="https://www.linkedin.com/in/francesca-cardenas-497056173/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Industrial Engineering '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Lisa Hayford.jpg" alt="Avatar">
            <h4 class="active-name"></br>Lisa Hayford <a href="https://www.linkedin.com/in/lisa-hayford-b09b49130/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biochemistry '20</h6>
          </div>          
      </div>
        
      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Youssef Elmougy.jpg" alt="Avatar">
            <h4 class="active-name"></br>Youssef Elmougy <a href="https://www.linkedin.com/in/youssefelmougy/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Science '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Yulisaa Frias.jpg" alt="Avatar">
            <h4 class="active-name"></br>Yulisa Frias <a href="https://www.linkedin.com/in/yulisa-frias-8228ba174/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Civil Engineering '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Santos Garcia.jpg" alt="Avatar">
            <h4 class="active-name"></br>Santos Garcia <a href="https://www.linkedin.com/in/santos-garcia-067b15172/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Information Technology '20</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Noah Green.jpg" alt="Avatar">
            <h4 class="active-name"></br>Noah Green <a href="https://www.linkedin.com/in/noah-g-310137101/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '22</h6>
          </div>
                                   
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Will King.jpg" alt="Avatar">
            <h4 class="active-name"></br>Will King <a href="https://www.linkedin.com/in/william-king-135862197/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Alyssa Pancho.JPG" alt="Avatar">
            <h4 class="active-name"></br>Alyssa Pancho <a href="https://www.linkedin.com/in/alyssa-pancho/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Industrial Engineering '22</h6>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Joanne Peragine2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Joanne Peragine <a href="https://www.linkedin.com/in/joanneperagine/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '20</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Meghan Richards2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Megan Richards <a href="https://www.linkedin.com/in/megan-richards-b8a781174/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Civil Engineering '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Renato Rodrigues Professional.jpg" alt="Avatar">
            <h4 class="active-name"></br>Renato Rodrigues<a href="https://www.linkedin.com/in/renato-i-rodrigues/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Elya Segall.jpg" alt="Avatar">
            <h4 class="active-name"></br>Elya Segall <a href="https://www.linkedin.com/in/elya-segall-0aa129175/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '22</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Nikos Stathopoulos.jpg" alt="Avatar">
            <h4 class="active-name"></br>Nikos Stathopoulos <a href="https://www.linkedin.com/in/nikos1/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Civil Engineering '20</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Cassandra Strange.jpg" alt="Avatar">
            <h4 class="active-name"></br>Cassandra Strange<a href="https://www.linkedin.com/in/cassandra-strange-80b893168/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Industrial Engineering '20</h6>
          </div>
      </div>
                                   
      <div class="row members">   
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Angelique Vega.jpg" alt="Avatar">
            <h4 class="active-name"></br>Angelique Vega <a href="https://www.linkedin.com/in/angelique-vega-914834197/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '23</h6>
          </div>
                                
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Stefan Wharwood.jpg" alt="Avatar">
            <h4 class="active-name"></br>Setfan Wharwood-Oprisan <a href="https://www.linkedin.com/in/stefan-wharwood-oprisan-041457195/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '22</h6>
          </div>
                                   
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Esther Zhang2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Esther Zhang <a href="https://www.linkedin.com/in/esther-zhang-3a1116184/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '22</h6>
          </div>
      </div>

      <div class="row members">
          <h1 style="font-size:40px;" class="section-title text-center">Alumni</h1>
          <br></br>
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Salvatore Alcaras.jpg" alt="Avatar">
            <h4 class="active-name"></br>Salvatore Alcaras <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '22</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Victor Barahona.jpg" alt="Avatar">
            <h4 class="active-name"></br>Victor Barahona <a href="https://www.linkedin.com/in/victor-barahona-088087108/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Linnea Barbour.jpg" alt="Avatar">
            <h4 class="active-name"></br>Linnea Barbour <a href="https://www.linkedin.com/in/linnea-barbour/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Caitlin Burgess.jpg" alt="Avatar">
            <h4 class="active-name"></br>Caitlin Burgess <a href="https://www.linkedin.com/in/caitlin-burgess-72962812b/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Christine Crosfield.jpg" alt="Avatar">
            <h4 class="active-name"></br>Christine Crosfield <a href="https://www.linkedin.com/in/christinecrosfield/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Aaron Cruz.jpg" alt="Avatar">
            <h4 class="active-name"></br>Aaron Cruz <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
          </div>
      </div> 

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Jed Donikyan.jpg" alt="Avatar">
            <h4 class="active-name"></br>Jed Donikyan <a href="https://www.linkedin.com/in/jed-donikyan/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Electrical Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Stephan Duroseau Photoshopped2.png"" alt="Avatar">
            <h4 class="active-name"></br>Stephan Duroseau <a href="https://www.linkedin.com/in/stephanduroseau/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Science '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Jesus Gaitan.jpg" alt="Avatar">
            <h4 class="active-name"></br>Jesus Gaitan <a href="https://www.linkedin.com/in/jgaitan95/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/Theta-Tau-Logo.png" alt="Avatar">
            <h4 class="active-name"></br>Jennifer Haidar <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Civil Engineering '21</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Jacob Nice.jpg" alt="Avatar">
            <h4 class="active-name"></br>Jacob Hochendoner <a href="https://www.linkedin.com/in/jacobhochendoner/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Science '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Fei Huang.jpeg" alt="Avatar">
            <h4 class="active-name"></br>Fei Huang <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
          </div>
      </div>    

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Elizabeth Izzo.jpg" alt="Avatar">
            <h4 class="active-name"></br>Elizabeth Izzo <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Elizabeth Jaffe.jpg" alt="Avatar">
            <h4 class="active-name"></br>Elizabeth Jaffe <a href="https://www.linkedin.com/in/elizabeth-jaffe-5b1883160/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Engineering '17</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Olivette Kaikai.jpeg" alt="Avatar">
            <h4 class="active-name"></br>Olivette Kaikai <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '20</h6>                                                                                                                     
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Dawson Kopp.jpg" alt="Avatar">
            <h4 class="active-name"></br>Dawson Kopp <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Nick Lawson.jpg" alt="Avatar">
            <h4 class="active-name"></br>Nick Lawson <a href="https://www.linkedin.com/in/nicklawson96/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/William Lin.jpg" alt="Avatar">
            <h4 class="active-name"></br>William Lin <a href="https://www.linkedin.com/in/william-lin-244238158/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Science '19</h6>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Marisa Lombardo.jpg" alt="Avatar">
            <h4 class="active-name"></br>Marisa Lombardo <a href="https://www.linkedin.com/in/marisa-lombardo-b519921a0/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Alex Lopez.jpg" alt="Avatar">
            <h4 class="active-name"></br>Alex Lopez <a href="https://www.linkedin.com/in/alex-hagenmayer-lopez/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Science '19</h6>
          </div>
          
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Maria Lopez.jpeg" alt="Avatar">
            <h4 class="active-name"></br>Maria Lopez <a href="https://www.linkedin.com/in/maria-f-lopez/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/David Mastalerz.jpg" alt="Avatar">
            <h4 class="active-name"></br>David Mastalerz <a href="https://www.linkedin.com/in/david-mastalerz-483521131/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Max Mogel.jpg" alt="Avatar">
            <h4 class="active-name"></br>Max Mogel <a href="https://www.linkedin.com/in/max-mogel/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Melynda Morlius.jpg" alt="Avatar">
            <h4 class="active-name"></br>Melynda Morilus <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Ralph Pugliese.jpeg" alt="Avatar">
            <h4 class="active-name"></br>Ralph Pugliese <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Electrical Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Rikki Rooklin2.jpg" alt="Avatar">
            <h4 class="active-name"></br>Rikki Rooklin <a href="https://www.linkedin.com/in/rikki-rooklin-83457313b/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Bernadette Rooney.jpg" alt="Avatar">
            <h4 class="active-name"></br>Bernadette Rooney <a href="https://www.linkedin.com/in/bernadette-rooney-5b798a124/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Mirla Sales.jpg" alt="Avatar">
            <h4 class="active-name"></br>Mirla Sales <a href="https://www.linkedin.com/in/mirla-sales-574404149/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Justin Sanchez.jpg" alt="Avatar">
            <h4 class="active-name"></br>Justin Sanchez <a href="https://www.linkedin.com/in/justin-sanchez-7014b188/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Engineering '18</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Scott Stubbs.jpg" alt="Avatar">
            <h4 class="active-name"></br>Scott Stubbs <a href="https://www.linkedin.com/in/scott-stubbs/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Computer Science '19</h6>
          </div>
      </div>

      <div class="row members">
          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Bridget Weston.jpg" alt="Avatar">
            <h4 class="active-name"></br>Bridget Weston <a href="https://www.linkedin.com/in/bridgetweston/" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Biomedical Engineering '19</h6>
          </div>

          <div class="member-profile col-md-2 col-sm-4 col-xs-6 text-center">
            <img class="active-profile" src="./public/images/portraits/Tony Williams.jpg" alt="Avatar">
            <h4 class="active-name"></br>Tony Williams <a href="" target=”_blank”><i class="icon-s-linkedin" style="color:blue"></i></a></h4>
            <h6 class="active-major"></br>Mechanical Engineering '21</h6>
          </div>          
      </div>
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  
  <footer id=footer></footer>
  
</div>
<!-- /.body-wrapper --> 

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
    $(function(){
      $("#navbar").load("./partials/navbar.html"); 
    });
  
    // $(function(){
    //   $("#eboard").load("./partials/eboard.html"); 
    // });
  
    $(function(){
      $("#footer").load("./partials/footer.html"); 
    });
  </script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="./public/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script src="./public/js/jquery.themepunch.plugins.min.js"></script> 
<script src="./public/js/jquery.themepunch.revolution.min.js"></script> 
<script src="./public/js/jquery.themepunch.tools.min.js"></script> 
<script src="./public/dist/bundle.js"></script>

</body>
</html>
