<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:image" content="./public/images/Tilted Gear Red_Yellow.png">
  <link rel="shortcut icon" href="./public/images/Tilted Gear Red_Yellow.png">
  <title>Theta Tau Hofstra</title>

  <!-- Bootstrap core CSS -->
  <!-- <%- CDN('/css/bootstrap.css', 'css', '', ''); %>
  <%- CDN('/css/settings.css', 'css', '', ''); %>
  <%- CDN('/css/owl.carousel.css', 'css', '', ''); %>
  <%- CDN('/css/custom.css', 'css', '', ''); %>
  <%- CDN('/css/style.css', 'css', '', ''); %>
  <%- CDN('/css/maroon.css', 'css', '', ''); %> -->
  <!-- <%- CDN('/type/fontello.css', 'css', '', ''); %> -->
  <!-- <%- CDN('/type/budicons.css', 'css', '', ''); %> -->
  <!-- <%- CDN('/js/google-code-prettify/prettify.css', 'css', '', ''); %>
  <%- CDN('/js/fancybox/jquery.fancybox.css', 'css', '', ''); %>
  <%- CDN('/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2', 'css', '', ''); %> -->
  <!-- <%- CDN('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic', 'css', '', ''); %>
  <%- CDN('https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', 'css', '', ''); %> -->


  <link href="./public/css/bootstrap.css" rel="stylesheet">
  <link href="./public/css/settings.css" rel="stylesheet">
  <link href="./public/css/owl.carousel.css" rel="stylesheet">
  <link href="./public/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="./public/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
  <link href="./public/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
  <link href="./public/css/custom.css" rel="stylesheet">
  <link href="./public/css/style.css" rel="stylesheet">
  <link href="./public/css/maroon.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href="./public/type/fontello.css" rel="stylesheet">
  <link href="./public/type/budicons.css" rel="stylesheet">
  
</head>

<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  
  <!-- include navbar -->
  <div id="navbar"></div>

  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="tp-banner-container revolution" >
      <div class="tp-banner">
        <ul>
          <li data-transition="fade"> <img src="./public/images/art/slider-bg1.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
            <div class="tp-caption title sfb" data-x="center" data-y="255" data-speed="900" data-start="500" data-endspeed="100" data-easing="Sine.easeOut">The Omega Beta Chapter of Theta Tau</div>
            <div class="tp-caption lead tp-fade fadeout tp-resizeme" data-x="center" data-y="329" data-speed="100"
			data-start="1000"
			data-easing="Power4.easeOut"
			data-splitin="chars"
			data-splitout="chars"
			data-elementdelay="0.03"
			data-endelementdelay="0"
			data-endspeed="100"
			data-endeasing="Power1.easeOut"
      style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">"Whatsoever thy hand findeth to do, do it with thy might;..."</div>
      <div class="tp-caption lead tp-fade fadeout tp-resizeme" data-x="center" data-y="379" data-speed="100"
			data-start="2500"
			data-easing="Power4.easeOut"
			data-splitin="chars"
			data-splitout="chars"
			data-elementdelay="0.03"
			data-endelementdelay="0"
			data-endspeed="100"
			data-endeasing="Power1.easeOut"
			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">-Ecclasiastes 9:10</div>
            <!--<div class="tp-caption sfb" data-x="center" data-y="392" data-speed="900" data-start="2500" data-easing="Sine.easeOut"  data-endspeed="100"><a href="#contact" class="btn btn-white">Start a Project</a></div>-->
          </li>
          <li data-transition="fade"> <img src="./public/images/art/slider-bg2.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
            <div class="tp-caption title small sfb dark-layer" data-x="680" data-y="415" data-speed="900" data-start="800" data-easing="Sine.easeOut">Come join our brotherhood...</div>
            <div class="tp-caption lead sfb light-layer" data-x="680" data-y="480" data-speed="900" data-start="1500" data-easing="Sine.easeOut">We're the largest, and foremost fraternity for engineers!</div>
          </li>
          <li data-transition="fade"> <img src="./public/images/art/slider-bg3.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
            <div class="tp-caption title sfb" data-x="center" data-y="255" data-speed="900" data-start="500" data-endspeed="100" data-easing="Sine.easeOut">Our foundation is based on our three pillars:</div>
            <div class="tp-caption lead tp-fade fadeout tp-resizeme" data-x="center" data-y="329" data-speed="100"
			data-start="1500"
			data-easing="Power4.easeOut"
			data-splitin="chars"
			data-splitout="chars"
			data-elementdelay="0.02"
			data-endelementdelay="0"
			data-endspeed="100"
			data-endeasing="Power1.easeOut"
			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Brotherhood, Service, and Profession.</div>
            <div class="tp-caption sfb" data-x="center" data-y="392" data-speed="900" data-start="3000" data-endspeed="100" data-easing="Sine.easeOut"><a href="#contact" class="btn btn-white">Contact Us</a></div>
          </li>
          <!-- <li data-transition="fade"> <img src="./public/images/art/slider-bg4.jpg" alt="" />
            <div class="tp-caption lft boxshadow" data-x="30" data-y="150" data-speed="900" data-start="1000" data-easing="easeOutExpo">
              <iframe src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" width="712" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <div class="tp-caption basic large light-layer sft" data-x="800" data-y="205" data-speed="900" data-start="1500" data-easing="Sine.easeOut">Video Support</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="283" data-speed="900" data-start="2000" data-easing="Sine.easeOut">YouTube</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="323" data-speed="900" data-start="2500" data-easing="Sine.easeOut">Video</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="363" data-speed="900" data-start="3000" data-easing="Sine.easeOut">HTML5</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="403" data-speed="900" data-start="3500" data-easing="Sine.easeOut">Full-width</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="443" data-speed="900" data-start="4000" data-easing="Sine.easeOut">Any Size</div>
          </li> -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
      <!-- /.tp-banner --> 
    </div>
    <!-- /.tp-banner-container --> 
  </div>
  <div class="light-wrapper">
    <div class="container inner">
        <div class="row">
          <div class="col-sm-12">
              <h3 class="text-center">What is theta tau?</h3>
              <p class="what-is-ot-body">
                  Theta Tau is the oldest, largest, and foremost Fraternity for Engineers. Since its founding at the University of Minnesota in 1904, over 40,000 have been initiated over the years. With emphasis on quality and a strong fraternal bond, the Fraternity has chapters only at ABET accredited schools and limits the number of student members in any one of its chapters across the nation.
                </p>
          </div>
        </div>
        <div class="row" style="padding-top: 25px;">
          <div class="col-sm-4">
              <h3 class="section-title text-center">OUR PURPOSE</h3>
              <p class="what-is-ot-body">The purpose of Theta Tau is to develop and maintain a high standard of professional interest among its members, and to unite them in strong bond of fraternal fellowship.</p>          
          </div>
          <div class="col-sm-4">
            <h3 class="section-title text-center">OUR MISSION</h3>
            <p class="what-is-ot-body">Our mission is to develop ENGINEERING LEADERS for Service, Profession, and Brotherhood.</p>
          </div>
          <div class="col-sm-4">
              <h3 class="section-title text-center">THE OMEGA BETA CHAPTER</h3>
              <p class="what-is-ot-body">Our chapter currently has around 45 active members. The fellowship, academic support, and personal growth our Brothers find in Theta Tau make all the difference in their personal and professional success.</p>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.light-wrapper -->
  
  
  <div class="black-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3 class="section-title">Community Engagement</h3> <!--Want to put comp sci/engineering fair, shake-a-rake, fall fest build, christmas mural 2nd place, event with AEPhi, Black Engineers Panel.-->
          <div class="lead bm25">Some events our chapter has been involved in!</div>
          <p>We believe in being active both on and off campus! Being a part of the community is both an honor and a privilege to our chapter. Check out some of the events we've either hosted, co-hosted, or participated in!</p>
          <div class="divide20"></div>
          <!--<a href="#" class="btn">View All Work</a>--> </div>
        <div class="col-md-9 col-sm-12">
          <ul class="photoset">
            <li>
              <figure>
                <a href="#">
                  <div class="text-overlay">
                    <div class="info">Engineering/Computer Science Career Fair</div>
                  </div>
                  <!-- <img src="./public/images/ENGG-CS-Fair.jpg" alt="" />  -->
                  <img src="./public/images/ENGG-CS-Fair.jpg" style="width:100%;height:100%;" alt="/images/ENGG-CS-Fair.jpg" />
                </a>
              </figure>
            </li>
            <li>
              <figure><a href="#">
                <div class="text-overlay">
                  <div class="info">Shake-A-Rake</div>
                </div>
                <img src="./public/images/Shake-A-Rake.jpg" alt="" /> 
                <!-- <%- CDN('/images/Shake-A-Rake.jpg','img','','/images/Shake-A-Rake.jpg'); %> -->
              </a></figure>
            </li>
            <li>
              <figure><a href="#">
                <div class="text-overlay">
                  <div class="info">Breakfast Run</div>
                </div>
                <img src="./public/images/Breakfast-Run.jpg" alt="" /> 
                <!-- <%- CDN('/images/Breakfast-Run.jpg','img','','/images/Breakfast-Run.jpg'); %> -->
              </a></figure>
            </li>
            <li>
              <figure><a href="#">
                <div class="text-overlay">
                  <div class="info">Hofstra Celebrates the Holidays</div>
                </div>
                <img src="./public/images/Hofstra-Celebrates-The-Holidays.jpg" alt="" />
                <!-- <%- CDN('/images/Hofstra-Celebrates-The-Holidays.jpg','img','','/images/Hofstra-Celebrates-The-Holidays.jpg'); %> -->
              </a></figure>
            </li>
            <li>
              <figure><a href="#">
                <div class="text-overlay">
                  <div class="info">Sexual Assault Panel</div>
                </div>
                <img src="./public/images/Sexual-Assault-Panel.jpg" alt="" /> 
                <!-- <%- CDN('/images/Sexual-Assault-Panel.jpg','img','','/images/Sexual-Assault-Panel.jpg'); %> -->
              </a></figure>
            </li>
            <li>
              <figure><a href="#">
                <div class="text-overlay">
                  <div class="info">Black Engineers Panel</div>
                </div>
                <img src="./public/images/Black-Engineers-Panel.jpg" alt="" /> 
                <!-- <%- CDN('/images/Black-Engineers-Panel.jpg','img','','/images/Black-Engineers-Panel.jpg'); %> -->
              </a></figure>
            </li>
          </ul>
          <!-- /.photoset --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.black-wrapper -->

  <!-- E-board -->
  <div id="eboard" class="dark-wrapper"></div>
  <!-- /.dark-wrapper -->
  <!-- E-board -->

  <!-- footer -->
  <footer id="footer"></footer>
  <!-- /footer --> 
  
</div>
<!-- /.body-wrapper --> 

<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="./public/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script src="./public/js/jquery.themepunch.plugins.min.js"></script> 
<script src="./public/js/jquery.themepunch.revolution.min.js"></script> 
<script src="./public/js/jquery.themepunch.tools.min.js"></script> 
<script src="./public/dist/bundle.js"></script>
<script>
  $(function(){
    $("#navbar").load("./partials/navbar.html"); 
  });

  $(function(){
    $("#eboard").load("./partials/eboard.html"); 
  });

  // $(function(){
  //   $("#footer").load("./partials/footer.html"); 
  // });
</script>
</body>
</html>