<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Zonya</title>
<!-- Bootstrap core CSS -->
<link href="style/css/bootstrap.css" rel="stylesheet">
<link href="style/css/settings.css" rel="stylesheet">
<link href="style/css/owl.carousel.css" rel="stylesheet">
<link href="style/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="style/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
<link href="style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet">
<link href="style/css/color/green.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href="style/type/fontello.css" rel="stylesheet">
<link href="style/type/budicons.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="style/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  <div class="navbar basic default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a> <a class="navbar-brand" href="index.html"><img src="style/images/logo.png" alt="" data-src="style/images/logo.png" data-ret="style/images/logo@2x.png" class="retina" /></a> </div>
        <nav class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Home</a>
              <ul class="dropdown-menu">
                <li><a href="index.html">Home 1</a></li>
                <li><a href="index2.html">Home 2</a></li>
                <li><a href="index3.html">Home 3</a></li>
                <li><a href="index4.html">Home 4</a></li>
                <li><a href="index5.html">Home 5</a></li>
                <li><a href="index6.html">Home 6</a></li>
                <li><a href="index7.html">Home All</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Portfolio</a>
              <ul class="dropdown-menu">
                <li><a href="portfolio.html">Carousel Portfolio</a></li>
                <li><a href="portfolio2.html">Grid with 4 Columns</a></li>
                <li><a href="portfolio3.html">Grid with 3 Columns</a></li>
                <li><a href="portfolio4.html">Grid with Lightbox</a></li>
                <li><a href="portfolio5.html">Fullscreen Grid</a></li>
                <li><a href="portfolio-post.html">Post with Full Slider</a></li>
                <li><a href="portfolio-post2.html">Post with Half Slider</a></li>
                <li><a href="portfolio-post3.html">Post with Images</a></li>
                <li><a href="portfolio-post4.html">Post with Half Images</a></li>
                <li><a href="portfolio-post5.html">Post with Fullscreen Slider</a></li>
                <li><a href="portfolio-post6.html">Post with Video</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Blog</a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Grid Blog</a></li>
                <li><a href="blog2.html">Grid Blog with Sidebar</a></li>
                <li><a href="blog3.html">Classic Blog</a></li>
                <li><a href="blog-post.html">Blog Post</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Pages</a>
              <ul class="dropdown-menu">
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="services2.html">Services 2</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Features</a>
              <ul class="dropdown-menu">
                <li><a href="elements.html">Elements</a></li>
                <li><a href="headings.html">Headings</a></li>
                <li><a href="pricing.html">Pricing Table</a></li>
                <li><a href="portfolio4.html">Page Title with Image</a></li>
                <li><a href="flat.html">Flat Icons</a></li>
                <li><a href="fontello.html">Font Icons</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!--/.navbar -->
  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">About the Company</h3>
      <div class="lead text-center">a marketing company turning ideas into beautiful things</div>
      <div class="row">
        <div class="col-sm-4">
          <figure><img src="style/images/art/about.jpg" alt="" /></figure>
        </div>
        <div class="col-sm-8">
          <h4>Our Working Place</h4>
          <p>Vestibulum ligut praesent commodo cursus magna, consectetur et. Cum socis natoque penatibus et magnis dis tellus parturient pharetra montes. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis.</p>
        </div>
      </div>
      <div class="divide50"></div>
      <div class="row">
        <div class="col-sm-4">
          <h4>Our Skills</h4>
          <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. Etiam adipiscingmorbi vitae magna tellus.</p>
          <div class="divide5"></div>
          <ul class="progress-list">
            <li>
              <p>CSS/HTML <em>90%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 90%;"></div>
              </div>
            </li>
            <li>
              <p>jQuery <em>80%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 80%;"></div>
              </div>
            </li>
            <li>
              <p>Wordpress <em>85%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 85%;"></div>
              </div>
            </li>
            <li>
              <p>SEO <em>50%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 50%;"></div>
              </div>
            </li>
          </ul>
          <!-- /.progress-list --> 
        </div>
        <!-- /.col -->
        
        <div class="col-sm-4">
          <h4>Why Choose Us?</h4>
          <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
          <ol class="color">
            <li>Donec ullamcorper nulla non metus auctor.</li>
            <li>Cras justo odio, dapibus ac facilisis in egestas.</li>
            <li>Praesent commodo cursus magna.</li>
            <li>Curabitur blandit tempus porttitor.</li>
            <li>Sed posuere consectetur est at lobortis.</li>
            <li>Aenean lacinia bibendum nulla sed consectetur.</li>
          </ol>
        </div>
        <!-- /.col -->
        
        <div class="col-sm-4">
          <h4>Our Services</h4>
          <div class="divide10"></div>
          <div class="services-2">
            <div class="icon"> <img src="style/images/icons/icon-web.png" data-src="style/images/icons/icon-web.png" data-ret="style/images/icons/icon-web@2x.png" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <div class="text">
              <h5>Responsive Layout</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <img src="style/images/icons/icon-heart.png" data-src="style/images/icons/icon-heart.png" data-ret="style/images/icons/icon-heart@2x.png" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <div class="text">
              <h5>Flat & Clean design</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text -->
            <div class="divide20"></div>
            <div class="icon"> <img src="style/images/icons/icon-print.png" data-src="style/images/icons/icon-print.png" data-ret="style/images/icons/icon-print@2x.png" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <div class="text">
              <h5>Print Design</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text --> 
            
          </div>
          <!-- /.services-2 --> 
          
        </div>
        <!-- /.col --> 
        
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  <div class="parallax parallax1 customers">
    <div class="container inner text-center">
      <div class="testimonials owl-carousel thin">
        <div class="item">
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur. Nullam dolor nibh ultricies vehicula elit vulputate tristique egestas.<small>Nikolas Brooten</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.<small>Coriss Ambady</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis id vestibulum. Donec sed odio dui. Sed posuere consectetur est at lobortis.<small>Barclay Widerski</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet.<small>Elsie Spear</small></p>
          </blockquote>
        </div>
        <!-- /.item --> 
      </div>
      <!-- /.testimonials --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3 class="section-title">Our Team</h3>
          <div class="lead bm25">meet the talents behind</div>
          <p>Maecenas sed diam risus varius blandit amet non magna. Nullam id dolor ultricies vehiculaelit praesent commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed  est at lobortis mattis consectetur purus.</p>
           </div>
        <!-- /.col -->
        <div class="col-md-9 col-sm-12">
          <div class="owl-posts team">
            <div class="item post">
              <figure><img src="style/images/art/team1.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Nikolas Brooten</h3>
                <div class="biz-title">Sales Manager</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="style/images/art/team2.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Coriss Ambady</h3>
                <div class="biz-title">Computer Engineer</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="style/images/art/team3.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Barclay Widerski</h3>
                <div class="biz-title">Marketing Specialist</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="style/images/art/team4.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Elsie Spear</h3>
                <div class="biz-title">Strategy Director</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item -->
            <div class="item post">
              <figure><img src="style/images/art/team5.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Connor Gibson</h3>
                <div class="biz-title">Interface Designer</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            </div>
            <!-- /.item --> 
          </div>
          <!-- /.team --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  
  
  
  <footer class="black-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-3">
          <div class="widget"> <img src="style/images/logo.png" alt="" data-src="style/images/logo.png" data-ret="style/images/logo@2x.png" class="retina" />
            <div class="divide20"></div>
            <p>Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus. </p>
            
          </div>
          <!-- /.widget --> 

          <div class="widget">
            <h4 class="widget-title">Newsletter</h4>
            <div class="newsletter-wrapper">
          <div id="mc_embed_signup">
            <form action="http://elemisfreebies.us3.list-manage1.com/subscribe/post?u=ddc180777a163e0f9f66ee014&amp;id=056957de28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_ddc180777a163e0f9f66ee014_056957de28" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </form>
          </div>
        </div>
        <!-- /.newsletter-wrapper -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /col -->
        
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Popular Posts</h4>
            <ul class="post-list">
              <li>
                <h6><a href="blog-post.html">Vivamus sagittis lacus vel augue metus</a></h6>
                <em>3th Oct 2012</em> </li>
              <li>
                <h6><a href="blog-post.html">Scelerisque nisl consectetur et</a></h6>
                <em>28th Sep 2012</em> </li>
              <li>
                <h6><a href="blog-post.html">Pellentesque ornare sem lacinia quam</a></h6>
                <em>15th Aug 2012</em> </li>
            </ul>
            <!-- /.post-list --> 
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /col -->
        
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Get In Touch</h4>
            <p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed posuere consectetur est at lobortis.</p>
            <div class="divide10"></div>
            <div class="contact-info"> <i class="icon-location"></i> Moonshine St. 14/05 Light City <br />
              <i class="icon-phone"></i>+00 (123) 456 78 90 <br />
              <i class="icon-mobile"></i>+00 (555) 345 67 89 <br />
              <i class="icon-mail"></i> <a href="first.last@email.com">first.last@email.com</a> </div>
          </div>
        </div>
        <!-- /col -->
        
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Tags</h4>
            <div class="tagcloud"> <a href="#">blogroll</a> <a href="#" class="tag7">daily</a> <a href="#" class="tag1">dialog</a> <a href="#" class="tag1">gallery</a> <a href="#" class="tag2">journal</a> <a href="#" class="tag1">link</a> <a href="#" class="tag3">motion</a> <a href="#" class="tag1">music</a> <a href="#" class="tag8">photo</a> <a href="#" class="tag4">professional</a> <a href="#" class="tag6">quotation</a> <a href="#" class="tag1">show</a> <a href="#" class="tag5">sound</a> <a href="#" class="tag1">tv</a> <a href="#" class="tag1">video</a> <a href="#" class="tag1">gift</a> </div>
          </div>
          <!-- /.widget -->
          
          <div class="widget">
            <h4 class="widget-title">Categories</h4>
            <ul class="circled">
              <li><a href="#">Web Design (21)</a></li>
              <li><a href="#">Photography (19)</a></li>
              <li><a href="#">Graphic Design (16)</a></li>
              <li><a href="#">Manipulation (15)</a></li>
            </ul>
          </div>
          <!-- /.widget -->

        </div>
        <!-- /col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- .container -->
    
    <div class="subfooter">
      <div class="container">
        <p class="pull-left">© 2014 Zonya. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
        <ul class="social pull-right">
          <li><a href="#"><i class="icon-s-rss"></i></a></li>
          <li><a href="#"><i class="icon-s-twitter"></i></a></li>
          <li><a href="#"><i class="icon-s-facebook"></i></a></li>
          <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
          <li><a href="#"><i class="icon-s-instagram"></i></a></li>
          <li><a href="#"><i class="icon-s-vimeo"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- /footer --> 
  
</div>
<!-- /.body-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/js/twitter-bootstrap-hover-dropdown.min.js"></script> 
<script src="style/js/jquery.themepunch.plugins.min.js"></script> 
<script src="style/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/js/jquery.themepunch.tools.min.js"></script>
<script src="style/js/retina.js"></script> 
<script src="style/js/owl.carousel.min.js"></script> 
<script src="style/js/jquery.isotope.min.js"></script>
<script src="style/js/jquery.fancybox.pack.js"></script> 
<script src="style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script> 
<script src="style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script> 
<script src="style/js/jquery.fitvids.js"></script> 
<script src="style/js/jquery.easytabs.min.js"></script>
<script src="style/js/jquery.slickforms.js"></script> 
<script src="style/js/google-code-prettify/prettify.js"></script>
<script src="style/js/scripts.js"></script>
</body>
</html>