<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  <% include ../partials/navbar %>
  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      
      <div class="row members">
          <h3 class="section-title text-center">Active Members</h3>
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Salvatore Alcaras</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/portraits/Emely Alvarez.jpg" alt="Avatar">
            <h4 class="active-name">Emely Alvarez</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Victor Barahona</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/portraits/Joseph Beganskas.jpg" alt="Avatar">
            <h4 class="active-name">Joseph Beganskas</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/portraits/Rico Biggart.jpg" alt="Avatar">
            <h4 class="active-name">Rico Biggart</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Alyssa Brower</h4>
          </div>
      </div>
        
      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Francesca Cardenas</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Catherine Cusack</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Jed Donikyan</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Stephan Duroseau</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Yulisa Frias</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Aishu Gandhi</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Santos Garcia</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Eduardo Guzman</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Jennifer Haidar</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Tyrone Harmon</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Lisa Hayford</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Jacob Hochendoner</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Olivette Kaikai</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Dawson Kopp</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Nick Lawson</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">William Lin</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Marisa Lombardo</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Alex Lopez</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Maria Lopez</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">David Mastalerz</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Max Mogel</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Joanne Peragine</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Megan Richards</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Renato Rodrigues</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Rikki Rooklin</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Mirla Sales</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Nikos Stathopoulos</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Cassandra Strange</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Scott Stubbs</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Reenu Thomas</h4>
          </div>
      </div>
     
      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Bridget Weston</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Tony Williams</h4>
          </div>
      </div>
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  
  <% include ../partials/footer %>
  
</div>
<!-- /.body-wrapper --> 

<% include ../partials/scripts %>

</body>
</html>