<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  <% include ../partials/navbar %>
  <div class="offset"></div>
  
  
  <div class="light-wrapper">
    <div class="container inner">
      
      <div class="row members">
          <h3 class="section-title text-center">Active Members</h3>
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Salvatore Alcaras</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/portraits/Emely Alvarez.jpg" alt="Avatar">
            <h4 class="active-name">Emely Alvarez</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Victor Barahona</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/portraits/Joseph Beganskas.jpg" alt="Avatar">
            <h4 class="active-name">Joseph Beganskas</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/portraits/Rico Biggart.jpg" alt="Avatar">
            <h4 class="active-name">Rico Biggart</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Alyssa Brower</h4>
          </div>
      </div>
        
      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Francesca Cardenas</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Catherine Cusack</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Jed Donikyan</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Stephan Duroseau</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Yulisa Frias</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Aishu Gandhi</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Santos Garcia</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Eduardo Guzman</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Jennifer Haidar</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Tyrone Harmon</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Lisa Hayford</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Jacob Hochendoner</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Olivette Kaikai</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Dawson Kopp</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Nick Lawson</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">William Lin</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Marisa Lombardo</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Alex Lopez</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Maria Lopez</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">David Mastalerz</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Max Mogel</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Joanne Peragine</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Megan Richards</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Renato Rodrigues</h4>
          </div>
      </div>

      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Rikki Rooklin</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Mirla Sales</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Nikos Stathopoulos</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Cassandra Strange</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Scott Stubbs</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Reenu Thomas</h4>
          </div>
      </div>
     
      <div class="row members">
          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Bridget Weston</h4>
          </div>

          <div class="col-sm-2 col-xs-6 text-center">
            <img class="active-profile" src="/images/OTFall2018.jpg" alt="Avatar">
            <h4 class="active-name">Tony Williams</h4>
          </div>
      </div>


      <!--<div class="lead text-center">a marketing company turning ideas into beautiful things</div>-->
      <!--<div class="row">
        <div class="col-sm-4">
          <figure><img src="/images/art/about.jpg" alt="" /></figure>
        </div>
        <div class="col-sm-8">
          <h4>Our Working Place</h4>
          <p>Vestibulum ligut praesent commodo cursus magna, consectetur et. Cum socis natoque penatibus et magnis dis tellus parturient pharetra montes. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis.</p>
        </div>
      </div>
      <div class="divide50"></div>
      <div class="row">
        <div class="col-sm-4">
          <h4>Our Skills</h4>
          <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. Etiam adipiscingmorbi vitae magna tellus.</p>
          <div class="divide5"></div>
          <ul class="progress-list">
            <li>
              <p>CSS/HTML <em>90%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 90%;"></div>
              </div>
            </li>
            <li>
              <p>jQuery <em>80%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 80%;"></div>
              </div>
            </li>
            <li>
              <p>Wordpress <em>85%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 85%;"></div>
              </div>
            </li>
            <li>
              <p>SEO <em>50%</em></p>
              <div class="progress plain">
                <div class="bar" style="width: 50%;"></div>
              </div>
            </li>
          </ul>
          <!-- /.progress-list --> 
        <!-- </div> -->
        <!-- /.col -->
        
        <!--<div class="col-sm-4">
          <h4>Why Choose Us?</h4>
          <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
          <ol class="color">
            <li>Donec ullamcorper nulla non metus auctor.</li>
            <li>Cras justo odio, dapibus ac facilisis in egestas.</li>
            <li>Praesent commodo cursus magna.</li>
            <li>Curabitur blandit tempus porttitor.</li>
            <li>Sed posuere consectetur est at lobortis.</li>
            <li>Aenean lacinia bibendum nulla sed consectetur.</li>
          </ol>
        </div>
        <!-- /.col -->
        
        <!--<div class="col-sm-4">
          <h4>Our Services</h4>
          <div class="divide10"></div>
          <div class="services-2">
            <div class="icon"> <img src="/images/icons/icon-web.png" data-src="/images/icons/icon-web.png" data-ret="/images/icons/icon-web@2x.png" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <!--<div class="text">
              <h5>Responsive Layout</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text -->
            <!--<div class="divide20"></div>
            <div class="icon"> <img src="/images/icons/icon-heart.png" data-src="/images/icons/icon-heart.png" data-ret="/images/icons/icon-heart@2x.png" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <!--<div class="text">
              <h5>Flat & Clean design</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text -->
            <!--<div class="divide20"></div>
            <div class="icon"> <img src="/images/icons/icon-print.png" data-src="/images/icons/icon-print.png" data-ret="/images/icons/icon-print@2x.png" class="retina" alt="" /> </div>
            <!-- /.icon -->
            <!--<div class="text">
              <h5>Print Design</h5>
              <p>Etiam porta malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
            <!-- /.text --> 
            
          <!--</div>
          <!-- /.services-2 --> 
          
        <!--</div>
        <!-- /.col --> 
        
      <!--</div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  <!--<div class="parallax parallax1 customers">
    <div class="container inner text-center">
      <div class="testimonials owl-carousel thin">
        <div class="item">
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur. Nullam dolor nibh ultricies vehicula elit vulputate tristique egestas.<small>Nikolas Brooten</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <!--<div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.<small>Coriss Ambady</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <!--<div class="item">
          <blockquote>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis id vestibulum. Donec sed odio dui. Sed posuere consectetur est at lobortis.<small>Barclay Widerski</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <!--<div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet.<small>Elsie Spear</small></p>
          </blockquote>
        </div>
        <!-- /.item --> 
      <!--</div>
      <!-- /.testimonials --> 
   <!--</div>
    <!-- /.container --> 
  <!--</div>
  <!-- /.parallax -->
  
  <!--<div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3 class="section-title">Our Team</h3>
          <div class="lead bm25">meet the talents behind</div>
          <p>Maecenas sed diam risus varius blandit amet non magna. Nullam id dolor ultricies vehiculaelit praesent commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed  est at lobortis mattis consectetur purus.</p>
           </div>
        <!-- /.col -->
        <!--<div class="col-md-9 col-sm-12">
          <div class="owl-posts team">
            <div class="item post">
              <figure><img src="/images/art/team1.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Nikolas Brooten</h3>
                <div class="biz-title">Sales Manager</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            <!--</div>
            <!-- /.item -->
            <!--<div class="item post">
              <figure><img src="/images/art/team2.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Coriss Ambady</h3>
                <div class="biz-title">Computer Engineer</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            <!--</div>
            <!-- /.item -->
            <!--<div class="item post">
              <figure><img src="/images/art/team3.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Barclay Widerski</h3>
                <div class="biz-title">Marketing Specialist</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            <!--</div>
            <!-- /.item -->
            <!--<div class="item post">
              <figure><img src="/images/art/team4.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Elsie Spear</h3>
                <div class="biz-title">Strategy Director</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            <!--</div>
            <!-- /.item -->
            <!--<div class="item post">
              <figure><img src="/images/art/team5.jpg" alt="" /></figure>
              <div class="post-content">
                <h3 class="post-title">Connor Gibson</h3>
                <div class="biz-title">Interface Designer</div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non.</p>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                </ul>
              </div>
              <!-- /.post-content --> 
            <!--</div>
            <!-- /.item --> 
          <!--</div>
          <!-- /.team --> 
        <!--</div>
        <!-- /.col --> 
      <!--</div>
      <!-- /.row --> 
      
    <!--</div>
    <!-- /.container --> 
  <!--</div>
  <!-- /.dark-wrapper -->
  
  <% include ../partials/footer %>
  
<!--</div>
<!-- /.body-wrapper --> 

<% include ../partials/scripts %>

</body>
</html>