<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Zonya</title>
<!-- Bootstrap core CSS -->
<link href="style/css/bootstrap.css" rel="stylesheet">
<link href="style/css/settings.css" rel="stylesheet">
<link href="style/css/owl.carousel.css" rel="stylesheet">
<link href="style/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="style/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
<link href="style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet">
<link href="style/css/color/maroon.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href="style/type/fontello.css" rel="stylesheet">
<link href="style/type/budicons.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="style/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body class="full-layout">
<!-- <div id="preloader"><div id="status"><div class="spinner"></div></div></div> -->
<div class="body-wrapper">
  <div class="navbar basic default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a> <a class="navbar-brand" href="index.html"><img src="style/images/Theta-Tau-Logo.png" alt="" data-src="style/images/Theta-Tau-Logo.png" data-ret="style/images/Theta-Tau-Logo.png" class="retina" /></a> </div>
        <nav class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="brothers.html">Brothers</a></li>
            <li><a href="brothers.html">Alumni</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Blog</a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Grid Blog</a></li>
                <li><a href="blog2.html">Grid Blog with Sidebar</a></li>
                <li><a href="blog3.html">Classic Blog</a></li>
                <li><a href="blog-post.html">Blog Post</a></li>
              </ul>
            </li>
            <li><a href="calendar.html">Events</a></li>
            <li><a href="about.html">About</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Features</a>
              <ul class="dropdown-menu">
                <li><a href="elements.html">Elements</a></li>
                <li><a href="headings.html">Headings</a></li>
                <li><a href="pricing.html">Pricing Table</a></li>
                <li><a href="portfolio4.html">Page Title with Image</a></li>
                <li><a href="flat.html">Flat Icons</a></li>
                <li><a href="fontello.html">Font Icons</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!--/.navbar -->
<div class="light-wrapper">
        <div class="container inner">
            <iframe src="https://teamup.com/ksg3hbpn1y3s9xipge" frameborder="0" width="100%" height="700"></iframe>
</div>
</body>
</html>