<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<% include ../partials/head %>

<body class="full-layout">
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>
<div class="body-wrapper">
  
  <!-- include navbar -->
  <% include ../partials/navbar %>

  <div class="offset"></div>
  <div class="light-wrapper">
    <div class="tp-banner-container revolution" >
      <div class="tp-banner">
        <ul>
          <li data-transition="fade"> <img src="/images/art/slider-bg1.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
            <div class="tp-caption title sfb" data-x="center" data-y="255" data-speed="900" data-start="500" data-endspeed="100" data-easing="Sine.easeOut">A Branding & Marketing Company</div>
            <div class="tp-caption lead tp-fade fadeout tp-resizeme" data-x="center" data-y="329" data-speed="100"
			data-start="1000"
			data-easing="Power4.easeOut"
			data-splitin="chars"
			data-splitout="chars"
			data-elementdelay="0.03"
			data-endelementdelay="0"
			data-endspeed="100"
			data-endeasing="Power1.easeOut"
			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">spacializing in web design, application, corporate identity</div>
            <div class="tp-caption sfb" data-x="center" data-y="392" data-speed="900" data-start="2500" data-easing="Sine.easeOut"  data-endspeed="100"><a href="#contact" class="btn btn-white">Start a Project</a></div>
          </li>
          <li data-transition="fade"> <img src="/images/art/slider-bg2.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
            <div class="tp-caption title small sfb dark-layer" data-x="680" data-y="415" data-speed="900" data-start="800" data-easing="Sine.easeOut">Your Time is Limited</div>
            <div class="tp-caption lead sfb light-layer" data-x="680" data-y="480" data-speed="900" data-start="1500" data-easing="Sine.easeOut">Don't waste it living someone else's life</div>
          </li>
          <li data-transition="fade"> <img src="/images/art/slider-bg3.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
            <div class="tp-caption title sfb" data-x="center" data-y="255" data-speed="900" data-start="500" data-endspeed="100" data-easing="Sine.easeOut">Zonya Brings Awesomeness</div>
            <div class="tp-caption lead tp-fade fadeout tp-resizeme" data-x="center" data-y="329" data-speed="100"
			data-start="1500"
			data-easing="Power4.easeOut"
			data-splitin="chars"
			data-splitout="chars"
			data-elementdelay="0.02"
			data-endelementdelay="0"
			data-endspeed="100"
			data-endeasing="Power1.easeOut"
			style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">a multipurpose responsive site template with a clean and professional design</div>
            <div class="tp-caption sfb" data-x="center" data-y="392" data-speed="900" data-start="3000" data-endspeed="100" data-easing="Sine.easeOut"><a href="#contact" class="btn btn-white">Contact Us</a></div>
          </li>
          <li data-transition="fade"> <img src="/images/art/slider-bg4.jpg" alt="" />
            <div class="tp-caption lft boxshadow" data-x="30" data-y="150" data-speed="900" data-start="1000" data-easing="easeOutExpo">
              <iframe src="http://player.vimeo.com/video/6757600?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="712" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <div class="tp-caption basic large light-layer sft" data-x="800" data-y="205" data-speed="900" data-start="1500" data-easing="Sine.easeOut">Video Support</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="283" data-speed="900" data-start="2000" data-easing="Sine.easeOut">YouTube</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="323" data-speed="900" data-start="2500" data-easing="Sine.easeOut">Video</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="363" data-speed="900" data-start="3000" data-easing="Sine.easeOut">HTML5</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="403" data-speed="900" data-start="3500" data-easing="Sine.easeOut">Full-width</div>
            <div class="tp-caption basic dark-layer sfr" data-x="800" data-y="443" data-speed="900" data-start="4000" data-easing="Sine.easeOut">Any Size</div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
      <!-- /.tp-banner --> 
    </div>
    <!-- /.tp-banner-container --> 
  </div>
  <div class="light-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">What Are Our Services</h3>
      <div class="lead text-center">creates quality products that make your life easier</div>
      <div class="row text-center services-1">
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-wrapper"> <img src="/images/icons/icon-web.png" data-src="/images/icons/icon-web.png" data-ret="/images/icons/icon-web@2x.png" class="retina" alt="" /> </div>
            <div class="text-wrapper">
              <h5>Web Design</h5>
              <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-wrapper"> <img src="/images/icons/icon-tv.png" data-src="/images/icons/icon-tv.png" data-ret="/images/icons/icon-tv@2x.png" class="retina" alt="" /> </div>
            <div class="text-wrapper">
              <h5>Motion Video</h5>
              <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit leo quam. Pellentesque ornare sem lacinia quam.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-wrapper"> <img src="/images/icons/icon-print.png" data-src="/images/icons/icon-print.png" data-ret="/images/icons/icon-print@2x.png" class="retina" alt="" /> </div>
            <div class="text-wrapper">
              <h5>Print Design</h5>
              <p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col-wrapper">
            <div class="icon-wrapper"> <img src="/images/icons/icon-heart.png" data-src="/images/icons/icon-heart.png" data-ret="/images/icons/icon-heart@2x.png" class="retina" alt="" /> </div>
            <div class="text-wrapper">
              <h5>Illustration</h5>
              <p>Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.services --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.light-wrapper -->
  
  
  <div class="black-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3 class="section-title">Our Awesome Works</h3>
          <div class="lead bm25">great design comes with understanding customer needs</div>
          <p>Maecenas sed diam risus varius blandit amet non magna. Nullam id dolor ultricies vehiculaelit praesent commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed  est at lobortis mattis consectetur purus.</p>
          <div class="divide20"></div>
          <a href="#" class="btn">View All Work</a> </div>
        <div class="col-md-9 col-sm-12">
          <ul class="photoset">
            <li>
              <figure><a href="portfolio-post.html">
                <div class="text-overlay">
                  <div class="info">Black Wood</div>
                </div>
                <img src="/images/art/p1.jpg" alt="" /> </a></figure>
            </li>
            <li>
              <figure><a href="portfolio-post2.html">
                <div class="text-overlay">
                  <div class="info">Cover Disk Mockup</div>
                </div>
                <img src="/images/art/p2.jpg" alt="" /> </a></figure>
            </li>
            <li>
              <figure><a href="portfolio-post3.html">
                <div class="text-overlay">
                  <div class="info">Wall Street</div>
                </div>
                <img src="/images/art/p3.jpg" alt="" /> </a></figure>
            </li>
            <li>
              <figure><a href="portfolio-post4.html">
                <div class="text-overlay">
                  <div class="info">Logo Mockup</div>
                </div>
                <img src="/images/art/p4.jpg" alt="" /> </a></figure>
            </li>
            <li>
              <figure><a href="portfolio-post5.html">
                <div class="text-overlay">
                  <div class="info">Business Card</div>
                </div>
                <img src="/images/art/p5.jpg" alt="" /> </a></figure>
            </li>
            <li>
              <figure><a href="portfolio-post6.html">
                <div class="text-overlay">
                  <div class="info">Seal Fabric</div>
                </div>
                <img src="/images/art/p6.jpg" alt="" /> </a></figure>
            </li>
          </ul>
          <!-- /.photoset --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.black-wrapper -->
  
  
  
  <div class="light-wrapper">
    <div class="container inner">
      <h3 class="section-title text-center">Features of the Product</h3>
      <div class="lead text-center">learn about our best product & service features</div>
      <div class="text-center">
        <figure><img src="/images/art/product-image.png" alt="" /></figure>
      </div>
      <div class="thin text-center">
        <p>Maecenas sed diam risus varius blandit amet non magna. Nullam id dolor ultricies vehiculaelit praesent commodo. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna.</p>
        <div class="divide10"></div>
        <a href="#" class="btn btn-gray fixed-width">Start a Project</a> <a href="#" class="btn fixed-width">View Details</a> </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  
  <div class="parallax parallax1 customers">
    <div class="container inner text-center">
      <div class="testimonials owl-carousel thin">
        <div class="item">
          <blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur. Nullam dolor nibh ultricies vehicula elit vulputate tristique egestas.<small>Nikolas Brooten</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.<small>Coriss Ambady</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis id vestibulum. Donec sed odio dui. Sed posuere consectetur est at lobortis.<small>Barclay Widerski</small></p>
          </blockquote>
        </div>
        <!-- /.item -->
        <div class="item">
          <blockquote>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet.<small>Elsie Spear</small></p>
          </blockquote>
        </div>
        <!-- /.item --> 
      </div>
      <!-- /.testimonials --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.parallax -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3 class="section-title">From the Blog</h3>
          <div class="lead bm25">our posts that got most attention</div>
          <p>Maecenas sed diam risus varius blandit amet non magna. Nullam id dolor ultricies vehiculaelit praesent commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed  est at lobortis mattis consectetur purus.</p>
          <div class="divide20"></div>
          <a href="#" class="btn">View All News</a> </div>
        <div class="col-md-9 col-sm-12">
          <div class="owl-posts">
            <div class="item post">
              <figure><a href="blog-post.html">
                <div class="text-overlay">
                  <div class="info">Read More</div>
                </div>
                <img src="/images/art/b1.jpg" alt="" /> </a></figure>
              <div class="post-content">
                <h3 class="post-title"><a href="blog-post.html">Nullam Sit Malesuada</a></h3>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
                <div class="footer-meta"> <span class="date pull-left">21 Jul 2014</span> <span class="like pull-right"><a href="#"><i class="icon-heart"></i> 23</a></span> </div>
              </div>
            </div>
            <div class="item post">
              <figure><a href="blog-post.html">
                <div class="text-overlay">
                  <div class="info">Read More</div>
                </div>
                <img src="/images/art/b2.jpg" alt="" /> </a></figure>
              <div class="post-content">
                <h3 class="post-title"><a href="blog-post.html">Porta Ornare Nibh</a></h3>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
                <div class="footer-meta"> <span class="date pull-left">14 Jun 2014</span> <span class="like pull-right"><a href="#"><i class="icon-heart"></i> 27</a></span> </div>
              </div>
            </div>
            <div class="item post">
              <figure><a href="blog-post.html">
                <div class="text-overlay">
                  <div class="info">Read More</div>
                </div>
                <img src="/images/art/b3.jpg" alt="" /> </a></figure>
              <div class="post-content">
                <h3 class="post-title"><a href="blog-post.html">Commodo Mollis</a></h3>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
                <div class="footer-meta"> <span class="date pull-left">18 May 2014</span> <span class="like pull-right"><a href="#"><i class="icon-heart"></i> 15</a></span> </div>
              </div>
            </div>
            <div class="item post">
              <figure><a href="blog-post.html">
                <div class="text-overlay">
                  <div class="info">Read More</div>
                </div>
                <img src="/images/art/b4.jpg" alt="" /> </a></figure>
              <div class="post-content">
                <h3 class="post-title"><a href="blog-post.html">Amet Elit Lorem</a></h3>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
                <div class="footer-meta"> <span class="date pull-left">9 Apr 2014</span> <span class="like pull-right"><a href="#"><i class="icon-heart"></i> 19</a></span> </div>
              </div>
            </div>
            <div class="item post">
              <figure><a href="blog-post.html">
                <div class="text-overlay">
                  <div class="info">Read More</div>
                </div>
                <img src="/images/art/b5.jpg" alt="" /> </a></figure>
              <div class="post-content">
                <h3 class="post-title"><a href="blog-post.html">Vulputate Consectetur</a></h3>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
                <div class="footer-meta"> <span class="date pull-left">15 Mar 2014</span> <span class="like pull-right"><a href="#"><i class="icon-heart"></i> 12</a></span> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->

  <% include ../partials/footer %>
  
</div>
<!-- /.body-wrapper --> 
</body>
</html>